<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated bodies -->
      <package
            uri="http://org/jnect/bodymodel/bodies"
            class="org.eclipse.viatra.cep.jnect.bodies.bodiesmodel.BodiesmodelPackage"
            genModel="model/bodies.genmodel"/>
   </extension>

</plugin>
