<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TestModel -->
      <package
            uri="http://example.com"
            class="org.eclipse.viatra.cep.notification.test.model.carmodel.CarmodelPackage"
            genModel="model/TestModel.genmodel"/>
   </extension>

</plugin>
