/.RightHandAboveHeadProcessor.java._trace
/.RightHandAboveHeadQuerySpecification.java._trace
/.RightHandAboveHead_MovingAverageProcessor.java._trace
/.RightHandAboveHead_MovingAverageQuerySpecification.java._trace
/RightHandAboveHead_MovingAverageProcessor.java
/RightHandAboveHead_MovingAverageQuerySpecification.java
/RightHandAboveHeadProcessor.java
/RightHandAboveHeadQuerySpecification.java
