/.Bodymodel.java._trace
/.RightHandAboveHeadMatch.java._trace
/.RightHandAboveHeadMatcher.java._trace
/.RightHandAboveHead_MovingAverageMatch.java._trace
/.RightHandAboveHead_MovingAverageMatcher.java._trace
/Bodymodel.java
/RightHandAboveHeadMatcher.java
/RightHandAboveHead_MovingAverageMatch.java
/RightHandAboveHead_MovingAverageMatcher.java
/RightHandAboveHeadMatch.java
