/.BentRightArmProcessor.java._trace
/.BentRightArmQuerySpecification.java._trace
/.FEProcessor.java._trace
/.FEQuerySpecification.java._trace
/.FSProcessor.java._trace
/.FSQuerySpecification.java._trace
/.RightHandAboveHeadProcessor.java._trace
/.RightHandAboveHeadQuerySpecification.java._trace
/.StretchedRightArmProcessor.java._trace
/.StretchedRightArmQuerySpecification.java._trace
